/**
 * @dependecy https://gist.github.com/terkel/4373420
 */

@import 'inc/decimal';

$margin: 1.6%;

@for $cols from 2 through 12 {
    $span: $cols;
    @while $span > 0 {
        @if ($span == $cols) {
            .span_#{$span}_of_#{$cols} {
                width: 100%;
            }
        } @else {
            .span_#{$span}_of_#{$cols} {
                width: decimal-round( (((100 - ($margin * ($cols - 1))) / $cols) * $span) + (($span - 1) * $margin) , 2, 'floor');
            }
        }
        $span: $span - 1;
    }
}

@media only screen and (max-width: 480px) {
    @for $cols from 2 through 12 {
        $span: $cols;
        @while $span > 0 {
            .span_#{$span}_of_#{$cols} {
                width: 100%;
            }
            $span: $span - 1;
        }
    }
}